build
autom4te.cache
config.h

/gcc/cs-*.h
/gcc/gt-*.h
/gcc/gtype-*
/gcc/options.*
/gcc/configargs.h
/gcc/specs.h
/gcc/?config.h
/gcc/bversion.h
/gcc/multilib.h
/gcc/tm.h
/gcc/tm_p.h
/gcc/gengtype-lex.c
/gcc/gtyp-input.list
/gcc/doc/HTML

auto-host.h
